<div class="right">

  <p v-if= "session.userToken == ''">
    // if (!localStorage.getItem('pruebaSession'))
    <router-link :to="{ name: 'home' }"> home </router-link>&nbsp &nbsp
    <router-link to="/login">{{ $t("home.goLogin") }}</router-link>
    <router-link :to="{ name: 'login' }">{{ $t("home.goLogin") }}</router-link>
  </p>
  <p v-else>{{session.userEmail}} &nbsp &nbsp
    <router-link :to="{ name: 'home' }"> home </router-link>&nbsp &nbsp
    <button v-on:click="loginOut()">{{ $t('outSession') }}</button>
    <br><br>
  </p>
</div>