div
  h4 Este es el componente Login

    // if (!localStorage.getItem('pruebaSession'))
    <form @submit.prevent="checkForm">
      <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>
    
      <p>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" v-model="email" placeholder="yo@yo.com">
      </p>

      <p>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" v-model="password" placeholder="12345678">
      </p>

      <p>
        <input type="submit" name="12345" value="Enviar">  
      </p>
    </form>
    // else
    <p>Su token es: {{token}}</p>
  
  