div
  h4 Ejemplo de componente

  //table
    tr
      th Nombre
      th Email
    tr(v-for="user in users")
      td {{user.name}}
      td {{user.email}}
  br
  //table
    tr(v-for="micropost in microposts")
      td {{micropost.id}}
      td {{micropost.attributes}}
  br

  //<p> Token {{prueba}}</p>
