div
  h1 Crear post

  <form @submit.prevent="checkForm">
    <p v-if="errors.length">
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>

    p 
      <label for="title">Titulo</label>
      <input type="text" name="title" id="title" v-model="title" v-bind:class="{ 'error': titleHasError }">
    p
      <label for="content">Contenido</label>
      <input type="text" name="content" id="content" v-model="content" v-bind:class="{ 'error': contentHasError }">
    p
      <input type="file" @change="processFile($event)">
    p 
      <input type="submit" name="añadirPost" value="Enviar" >  
  
  </form>
