div
  h1 {{ $t('micropostEdit.title', { msg: id }) }}

  <form @submit.prevent="checkForm">
    <p v-if="errors.length">
      <b>{{ $t("micropostEdit.errors") }}</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>

    p <label>{{ $t("micropostEdit.oldTitle") }}: {{microposts.attributes.title}}</label>
    
    p <label>{{ $t("micropostEdit.oldContent") }}: {{microposts.attributes.content}}</label>
    
    p
      <label for="title">{{ $t("micropostEdit.wordTitle") }}</label>
      <input type="text" name="title" id="title" v-model="title">
    p
      <label for="content">{{ $t("micropostEdit.content") }}</label>
      <input type="text" name="content" id="content" v-model="content">
    p
      <input type="file" @change="processFile($event)">
    p 
      <input type="submit" name="añadirPost" value="Enviar" >  
  
  </form>