div
  h1 {{ $t("micropost.title") }}

  table
    tr
      th 
      th {{ $t("micropost.titleTable") }}
      th {{ $t("micropost.dateTable") }}
      th {{ $t("micropost.edit") }}
      th {{ $t("micropost.deleteTable") }}
    tr(v-for="micropost in microposts")
      td <router-link :to="{ name: 'showMicropost',params: {id: micropost.id} }">{{micropost.id}}</router-link>
      td <router-link :to="{ name: 'showMicropost',params: {id: micropost.id} }">{{micropost.attributes.title}}</router-link>
      td {{micropost.attributes.created_at}}
      td <router-link :to="{ name: 'editMicropost',params: {id: micropost.id} }">{{ $t("micropost.edit") }}</router-link>
      td <input type="button" name="deletePost" value="Eliminar" v-on:click="deleteMicropost(micropost.id);">  

  <router-link :to="{ name: 'createMicropost' }">{{ $t("micropost.createPost") }}</router-link>
