div
  //h1 {{ $t('micropostShow.title', { msg: id }) }}
  h1 {{id}}. {{ microposts.attributes.title }}
  //if (microposts != null)
  p {{ microposts.attributes.content }}
  p {{ microposts.attributes.created_at }}
  p {{ microposts.attributes.picture }}

  //Añadir cuadro de texto con botón enviar para crear comentarios
  <form @submit.prevent="checkForm" v-if="currentUser.userEmail != ''">
    <p v-if="errors.length">
      b Please correct the following error(s):
      ul.
        <li v-for="error in errors">{{ error }}</li>
    </p>
  
    p.
      <label for="newComment">¿Quieres añadir un comentario?</label>
      <input type="text" name="newComment" id="newComment" v-model="newComment" placeholder="Añade un comentario"></input>
    p.
      <input type="submit" name="12345" value="Enviar" >  
  </form>

  table
    tr
      th 
      th Texto
      th Fecha creacion
      th Autor
      th micropost_id
      th eliminar
    tr(v-for="comment in comments")
      td {{comment.attributes.id}}
      td {{comment.attributes.content_comment}}
      td {{comment.attributes.created_at}}
      td  
      td  {{comment.attributes.micropost_id}}
      td <input type="button" name="deleteComment" value="Eliminar" v-on:click="deleteComment(comment.attributes.id)">  

  <button id="show-modal" @click="showModal = true">Eliminar post</button>

  <modal-component v-if="showModal" @delete="deleteMicropost()" @close="showModal = false">
    <h3 slot="header">¿Quiere borrar el post?</h3>
    <p slot="body">Pulsa sí si quieres borrarlo.</p>
  </modal-component>
       
  