div
  h1 {{ $t("home.title") }}

  img(src=require('assets/images/logo.png'))

  example-component

  <router-link to="/graficas">{{ $t("home.goGraficas") }}</router-link>
  <router-link :to="{ name: 'graficas' }">{{ $t("home.goGraficas") }}</router-link>
  <br><br>
  <router-link to="/micropost">{{ $t("home.goMicropost") }}</router-link>
  br
  